@import "tailwindcss";

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #050517;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header Bar Styles */
h1 {
  font-size: clamp(16px, 4vw, 36px);
}

svg {
  width: clamp(16px, 4vw, 36px);
  height: clamp(16px, 4vw, 36px);
}

/* Wormhole Animation */
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.spin-on-hover {
  animation: spin 1s linear infinite;
  animation-play-state: paused;
  display: inline-block; /* needed for transform */
}

.spin-on-hover:hover {
  animation-play-state: running;
}

.scrollbar-gutter-stable {
  scrollbar-gutter: stable both-edges;
}
/*
@media (prefers-color-scheme: dark) {
  :root {
    color: #fafafa;
    background-color: #1f1f1f;
  }
}
*/
